*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
build
nbproject/
.idea

cakephp/EventHub/config/database.php


# Cake TMP Dirs
cakephp/EventHub/tmp/*
!cakephp/EventHub/tmp/

cakephp/EventHub/tmp/cache/*
!cakephp/EventHub/tmp/cache/
!cakephp/EventHub/tmp/cache/empty

cakephp/EventHub/tmp/cache/models/*
!cakephp/EventHub/tmp/cache/models/
!cakephp/EventHub/tmp/cache/models/empty

cakephp/EventHub/tmp/cache/persistent/*
!cakephp/EventHub/tmp/cache/persistent/
!cakephp/EventHub/tmp/cache/persistent/empty

cakephp/EventHub/tmp/cache/views/*
!cakephp/EventHub/tmp/cache/views/
!cakephp/EventHub/tmp/cache/views/empty

cakephp/EventHub/tmp/logs/*
!cakephp/EventHub/tmp/logs/
!cakephp/EventHub/tmp/logs/empty

cakephp/EventHub/tmp/sessions/*
!cakephp/EventHub/tmp/sessions/
!cakephp/EventHub/tmp/sessions/empty

cakephp/EventHub/tmp/tests/*
!cakephp/EventHub/tmp/tests/
!cakephp/EventHub/tmp/tests/empty

# Cake Plugin Composer
cakephp/EventHub/Plugin/BoostCake/*
cakephp/EventHub/Plugin/DebugKit/*
cakephp/EventHub/Plugin/Migrations/*
cakephp/EventHub/Plugin/Search/*

composer.lock
vendor/*

build/*
!build/empty
